<!DOCTYPE html>
<html>
<head>
    <!-- 页面meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>传智健康</title>
    <meta name="description" content="传智健康">
    <meta name="keywords" content="传智健康">
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <!-- 引入样式 -->
    <link rel="stylesheet" href="plugins/elementui/index.css">
    <link rel="stylesheet" href="css/login.css">
</head>
<body class="hold-transition skin-purple sidebar-mini">
<div id="app">
    <div class="login-container">
        <div class="loginBox">
            <form method="post" class="login-form" action="/register.do" label-position="left">
                <div>
                    <el-input placeholder="请输入用户名" v-model="pagination.queryString" style="width: 400px;margin-bottom:15px;" class="filter-item"></el-input>
                </div>
                <div>
                    <el-input placeholder="请输入手机号码" v-model="pagination.queryString" style="width: 280px;margin-bottom:15px;margin-right:3px;" class="filter-item"></el-input>
                    <el-button @click="findPage()" class="dalfBut">发送验证码</el-button>
                </div>
                <div>
                    <el-input placeholder="请输入验证码" v-model="pagination.queryString" style="width: 400px;margin-bottom:15px;" class="filter-item"></el-input>
                </div>
                <div>
                    <el-input placeholder="请输入新密码" v-model="pagination.queryString" style="width: 400px;margin-bottom:30px;" class="filter-item"></el-input>
                </div>
                <el-button @click="findPage()" style="width: 400px;margin-bottom:15px;" class="filter-item">找回密码</el-button>

            </form>
        </div>
    </div>
</div>
</body>
<!-- 引入组件库 -->
<script src="js/vue.js"></script>
<script src="plugins/elementui/index.js"></script>
<script>
    var vue = new Vue({
        el: '#app',
        data:{

        },
        //钩子函数，VUE对象初始化完成后自动执行
        created() {

        },
        methods: {

        }
    })
</script>
</html>
